@charset "UTF-8";
/* Util
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.notransition {
  -webkit-transition: none !important;
  transition: none !important; }

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #398ECA;
  border-color: #398ECA; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  background-color: #398ECA;
  border-color: #398ECA; }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 8rem 0 7rem;
  text-align: center; }

.section-heading {
  font-weight: 600;
  margin-bottom: 7rem; }

.section-heading:after {
  display: block;
  content: '';
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background: #3d3d3d;
  margin: 24px auto 0; }

.section-heading.yellow {
  color: #F7DA54; }

.section-heading.yellow:after {
  background: #F7DA54; }

.section-heading.white {
  color: #fff; }

.section-heading.white:after {
  background: #fff; }

.section-sub-heading {
  margin-bottom: 5rem; }

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  min-height: 600px;
  height: 100vh;
  padding: 0; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 144dppx) {
    .hero {
      background-image: url("../images/hero_2x.jpg"); } }

.hero-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.hero-store {
  padding: 5rem 0; }

.app-store {
  display: inline-block; }

.app-store a {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 135px 40px;
  background-image: url("../images/appstore.svg");
  background-position: center center;
  width: 135px;
  height: 40px;
  padding: 0 1rem; }

.google-play {
  display: inline-block;
  padding: 0 1rem; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  min-width: 300px;
  background-color: #323a45;
  text-align: center; }

footer p {
  padding-top: 1em;
  color: #747c83; }

footer a {
  color: #747c83;
  text-decoration: none; }
