#content1{
    text-align: center;
    margin: 20px 0;
}

.title{
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

#content3{
    text-align: center;
}

#content3 a{
    color: #595462;
}

.content-divider{
    margin: 40px 0;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}