@import "variables";
@import "utilities";
@import "navbar";
@import "normalize";


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-heading {
  margin-bottom: 7rem;

  &:after {
    background: $text-color;
    border-radius: round($section-line-height/2);
    content: '';
    display: block;
    height: $section-line-height;
    margin: 24px auto 0;
    width: $section-line-width;
  }

  &.blue {
    color: $main-color;

    &:after {
      background: $main-color;
    }
  }

  &.white {
    color: $white-color;

    &:after {
      background: $white-color;
    }
  }
}

.section-sub-heading {
  margin-bottom: 5rem;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	color: $white-color;
	height: 100vh;
	min-height: 600px;
	padding: 0;
	position: relative;

	@include retina {
  	background-image: url('../images/hero_2x.jpg');
	}

	@include desktop {
    background-image: url('../images/hero_large.jpg');

    @include retina {
  	  background-image: url('../images/hero_large_2x.jpg');
    }
	}
}

.hero-content {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-icon {
  border-radius: 5px;
  height: 50px;
  margin: 0 20px 0 0;
  vertical-align: middle;
  width: 50px;
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: $sub-color;
  color: $white-color;
  padding-bottom: 5rem;
}

.about-philosophy {
  padding-bottom: 8rem;
  text-align: center;
}

.about-members {
  padding-bottom: 5rem;

  .member {
    padding-bottom: 3rem;
    text-align: center;

    @include phablet {
      padding-bottom: 0;
    }

    .member-img {
      border-radius: 50%;
      height: 40%;
      width: 40%;

      @include phablet {
        height: 80%;
        width: 80%;
      }

      @include desktop {
        height: 60%;
        width: 60%;
      }
    }
  }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  background-color: $sub-color;
  min-width: 300px;
  text-align: center;

  p {
    color: $footer-text-color;
    margin: 0;
    padding-bottom: 2rem;

  }
}

.sns {
  padding-top: 3rem;
}

.sns-list {

  li {
    display: inline-block;
    margin: 0 0 0 3rem;
    vertical-align: middle;

    &:first-child {
      margin: 0;
    }
  }

  a {
    border-radius: 50%;
  	border: 1px solid $footer-text-color;
  	display: block;
  	height: $sns-icon-height;
  	text-align: center;
  	transition: all cubic-bezier(.645, .045, .355, 1) .3s;
  	width: $sns-icon-height;

  	i {
    	color: $footer-text-color;
      line-height: $sns-icon-height;
      transition: all cubic-bezier(.645, .045, .355, 1) .3s;
  	}

  	&:hover {
    	i {
      	color: $white-color;
    	}
  	}
  }

  .twitter {

    &:hover {
      background: $twitter-color;
      border-color: $twitter-color;
    }

  }

  .github {

    &:hover {
      background: $github-color;
      border-color: $github-color;
    }

  }
}
